---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1382'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b15e747998:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"610e58b4-2bcc-5d35-8698-aa06e3019952","warnings":[],"time":793.51305961609,"start_microtime":1486558694.1659,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"b5c103e0-caa6-563c-ae94-190899fd7ea0","warnings":[],"time":1369.6370124817,"start_microtime":1486558694.1406,"version":"1.17.202","slave_lag":1040228,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:13 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/inventory-list/33/item?num_elements=1&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b15e747998:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:5,member:3,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Count-Write:
      - user:0,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/inventory-list/33/item"
      X-Route-Time:
      - '68'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"start_element":0,"num_elements":100,"inventory-list-items":[{"id":1,"audit_status":"rejected","app_name":null,"inventory_url":"bad-domain.com","include_children":false,"is_supported":true,"rejection_reason":"Violence"}]}}'
  recorded_at: Wed, 08 Feb 2017 12:58:14 GMT
recorded_with: VCR 3.0.3

